.emblem__image[src="images/novgorod.png"] {
    width: 186.11px;
    display: block;
    margin: 0px auto 0px auto;
}

.emblem__image[src="images/rostov.png"] {
    width: 190.93px;
    display: block;
    margin: 0px auto 0px auto;
}

.emblem__image[src="images/tambov.png"] {
    width: 180.13px;
    display: block;
    margin: 0px auto 0px auto;
}

.emblem__image[src="images/elabuga.png"] {
    width: 167.72px;
    display: block;
    margin: 0px auto 0px auto;
}

.emblem__image[src="images/perm.png"] {
    width: 180.13px;
    display: block;
    margin: 0px auto 0px auto;
}