.cover__title {
    width: 1094.27px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    position: absolute;
    top: 274px;
    left: 38.85px;
}