@import url("__copyright/footer__copyright.css");
@import url("__link/footer__link.css");

.footer {
    margin: 160px auto 48px auto;
    width: 1184px;
    display: flex;
    justify-content: center;
}