.place__paragraphs {
    width: calc(100% - 500px);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        width: calc(100% - 368px);
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 600px) {
    .place__paragraphs {
        width: calc(100% - 310px);
        font-size: 12px;
        line-height: 25px;
    }
}

@media screen and (max-width: 500px) {
    .place__paragraphs {
        width: calc(100% - 270px);
        font-size: 9px;
        line-height: 17px;
    }
}

@media screen and (max-width: 375px) {
    .place__paragraphs {
        width: 95%;
        font-size: 16px;
        line-height: 27px;
    }
}